@model (int? categoryId, int page)


<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryModalLabel">@{
                    if (Model.categoryId.HasValue)
                    {
                        @:Crear Subcategoría
                    }
                    else
                    {
                        @:Crear Categoría
                    }
                }
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createCategoryForm" data-page="@Model.page">
                    <div class="mb-3">
                        <label for="modalName" class="form-label">Nombre de la categoria</label>
                        <input type="text" class="form-control" id="modalName" name="name" value="" required>
                    </div>
                        <input type="text" class="form-control" hidden id="modalParentCategoryId" name="parentCategoryId" value="@Model.categoryId">
                    <input type="text" class="form-control" hidden id="modalIsActive" name="isActive" value="true">
                    <button type="submit" id="createCategoryBtn" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" asp-page-handler="CreateCategory">Crear Categoria</button>
                </form>
            </div>
        </div>
    </div>
</div>