@page
@model ProductModel
@{
    ViewData["Title"] = "Productos";
}

<h1 class="text-danger">Productos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Producto 1</td>
            <td>Descripción del producto 1</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Producto 2</td>
            <td>Descripción del producto 2</td>
            <td>$20.00</td>
        </tr>
    </tbody>

